/* Tag Element selector */

/*    
h1{
    border: 2px black;
    background-color: chartreuse;
}
h2      
{
background-color:mistyrose;    
}
        
ul{
    background-color: rgb(180, 4, 255);
        
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */

/* id base selection # based selection */
/* #First{
    background-color: cadetblue;
}
#Second{
    background-color:darkmagenta;
} */

/* class based selection */

/* .third{
    background-color: hotpink;
}
.fourth{
    background-color: lightgray;
} */

/* Group based selection -> We can select multiple elements all at once. */ 

/* h1 , .fourth , #First{
    /* RGBA -> Red Green Blue Alpha */
    /* background-color:rgb(243, 72, 10 , 0.5) ; */
/* } */

/* Any combination of color can be created using "rgb" */

h1{
    font-size: 50px;
    background-color: rgba(90, 121, 19, 0.3);
    font-style: oblique;
}

ul{
    font-size: 20px;
}

li{
    font-size: 1em; /*20px*/

    /* font-size: 50%; */
}

h2{
    /* background-color: hsl(110, 97%, 88%); */
    background-color: hsla(110, 97%, 88%, 0.8 );
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-weight: 890;
    font-style: italic;
}

#First{
    /* RRGGBBAA -> 8-digit with transparency*/
    background-color: #66337799; 

    /* Same color just different way of writing (4-digit shorthand with transparency) */

    /* background-color: #6379; */
}

.third{
    /* Hexa decimal format of color */
    background-color: #106767;
}

.fourth{
    /* RGBA format */
    background-color: #6397; 
}

