h2{
    background-color:chartreuse;
    height:100px;
    width: 200px;
    font-style: italic;
    color: darkviolet;

    position:relative;
    /* position:absolute; */
    left:100px;
    top:100px;
    
}